.projects {
    height: 100%;
    transform: translateX(5%);
    position: absolute;
}

.projects h1 {
    margin: 60px 0;
}

.project {
    height: auto;
    width: 850px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top: 2px solid #363636;
    border-bottom: 2px solid #363636;
}


.project .photo-and-tools .photo {
    width: 400px;
}

.project .photo-and-tools .tools {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    
}

.project .photo-and-tools .tools span{
    font-size: 40px;
    margin: 0 15px;
}

.project .project-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    width: 50%;
}

.project .project-description h3 {
    font-size: 30px;

}

.project .project-description a {
    width: 30%;
    height: 10%;
    align-self: center;
    background-color: transparent;
    border: 2px solid #10E7C5;
    color: #10E7C5;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

.project .project-description a:hover {
    background-color: #4b4a4a;
}

.projects h6 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-59%);
    font-size: 15px;
    color: #5d5c5c;
    font-weight: 200;
    padding: 60px 0 10px;
}

@media(max-width: 1320px) {
    .project {
        flex-direction: column;
        width: 600px;
        padding: 0;
    }

    .photo-and-tools {
        display: flex;
        flex-direction: column-reverse;
        transform: translateY(-22px);
    
    }

    .project .photo-and-tools .tools {
        position: static;
        transform: translate(0, 30px);
    }
    .project .project-description {
        justify-content: start;
        transform: translateY(-20px);
        width: 100%;
    }
}

@media(max-width: 1095px) {
    .project .project-description {
        width: 400px;
    }
}

@media(max-width: 943px) {
    .project .project-description {
        width: 300px;
    }
}

@media(max-width: 840px) {

    .projects {
        transform: translateY(-50px);
    }
    .projects h1 {
        margin: 0;
        margin-bottom: 30px;
    }
}

@media(max-width: 604px) {
    .project {
        width: 400px;
    }

    .project-description p {
        font-size: 16px;
    }
}

@media(max-width: 430px) {
    .projects {
        transform: translateY(0);
        margin-top: 20px;
    }

    .project {
        width: 300px;
    }

    .project .photo-and-tools .photo {
        width: 300px;
    }
}