.menu {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    width: 60px;
    z-index: 100;
}

.menu h1 {
    display: none;
}

.menu ul li h3 {
    display: none;
}

.menu ul {
    height: 170px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-40px)
}

.menu ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 50px;
    color: #b8b8b8;
    text-decoration: none;  
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu ul li a:hover {
    color: #0FE9C7;
}

.menu ul li a:active {
    color: #014137;
}

.menu .social-media-menu {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.menu-large .social-media-menu {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.menu-large {
    width: 300px;
    z-index: 1;
}

.menu-large h3 {
    font-weight: 200;
}

.logo {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.logo h1 {
    font-size: 30px;
}

#hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    align-self: center;
    cursor: pointer;
}

#hamburger .bar {
    height: 4px;
    width: 100%;
    background-color: #b8b8b8;
    border-radius: 2px;
    transition: 0.3s;
  }

#hamburger:hover .bar {
    background-color: #0FE9C7; /* Cor ao passar o mouse */
}

#hamburger:active .bar {
    background-color: #014137; /* Cor ao passar o mouse */
}

  
#hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(8px, 10px);
}

#hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

#hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -10px);
}

.hidden {
    display: none;
}

.menu ul li a {
    color: #b8b8b8;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
}


.menu-large .social-media-menu {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.menu-large {
    width: 300px;
    z-index: 1;
}

.menu-large h3 {
    font-weight: 200;
}

.menu-large .logo h1 {
    display: block
}

.menu-large ul li h3 {
    display: block;
}

.menu-large ul li .menu-icon {
    display: none;
}
.menu .menu-mobile {
    display: none;
}

/*-------------------------------RESPONSIVIDADE---------------------------------------*/

@media(max-width: 425px) {
    *{
        margin: 0;
        padding: 0;
    }
    .menu {
        width: 100%;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding: 12px;
    }

    .menu .logo {
        margin: 0 10px 0 0;
        position: absolute;
        top: 22px;
    }

    .menu .logo .text-logo {
        display: block;
        font-size: 25px;
        display: flex;
        flex-direction: row;
    }

    .menu .logo img {
        width: 40px;
    }

    #hamburger {
        display: flex;
        position: absolute;
        right: 15px;
        z-index: 200;
    }

    .menu-large  ul {
        width: 100%;
        height: 300px;
    }
    .menu-large  ul {
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 200px;
        width: 100%;
        background-color: #181818;
    }

    .menu ul li a svg {
        display: none;
    }

    .menu .social-media-menu {
        display: none;
    }

    .menu .social-media {
        display: none;
    }

    .menu .menu-desktop {
        display: none;
    } 
}

@media(max-width: 270px) {
    .menu .logo .text-logo {
        width: 130px;
    }

    .menu .logo {
        top: 12px;
        gap: 0;
    }
}