.section-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.data-profile .name h1 {
    font-size: 60px;
    padding-bottom: 10px;
}

.home-skills {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-top: 3px solid #10E7C5;
    
}

.data-profile .home-skills h1 {
    font-weight: 400;
}

.data-profile .home-skills h3 {
    font-weight: 100;
    font-size: 25px;
    transform: translateY(30%);
}

.data-profile .home-skills h4 {
    font-weight: 200;
    color: #646363;
}

.photo {
    display: flex;
    flex-direction: column;
}
.photo-profile{
   position: relative; 
   display: inline-block;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: 2px solid #fff;
    border-radius: 10px;
    z-index: 1;
    transform: translate(11px, 11px);
}

.photo-profile img {
    position: relative;
    z-index: 2;
    display: block;
    border-radius: 10px;
}


@media(max-width: 1330px) {
    .section-home {
        transform: translateX(10%);
    }

}

@media(max-width: 1200px) {
    .section-home {
        transform: translateX(20%);
    }

}

@media(max-width: 1030px){
    .section-home .home-container {
        flex-direction: column-reverse;
        width: 100%;
        margin: 100px 0;
    }

    .data-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-home h6 {
        bottom: 0;
        transform: translatex(-50%);
        width: 100%;
        font-size: 12px;

    }
}

@media(max-width: 840px) {


    .section-home {
        transform: translateX(0);
        justify-content: start;
    }

    .section-home .home-container {
        margin: 0;
    }
}

@media(max-width: 430px) {

    .section-home {
        height: 600px;
    }
    .section-home .home-container {
        flex-direction: column-reverse;
        width: 100%;
        margin: 100px 0;
    }

   .photo-profile {
        width: 200px;
    }

   .photo-profile img{
        width: 200px;
    }

    .background-image {
        width: 98%;
        height: 98%;
        border: 1px solid #fff;
    }

    .data-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .data-profile .name h1 {
        font-size: 30px;
        
    }

    .home-skills {
        align-items: center;
        width: 170px;
        align-self: center;
    }

    .data-profile .home-skills h3 {
        font-size: 20px;
    }

    .data-profile .home-skills h1 {
        font-size: 28px;
    }

    .section-home h6 {
        bottom: 0;
        transform: translatex(-50%);
        width: 100%;
    }
}