.container-contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    align-self: center;
}

.container-contact h6 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-40%);
    font-size: 15px;
    color: #5d5c5c;
    font-weight: 200;
    padding: 60px 0 10px;
}


.container-contact h1 {
    font-size: 50px;
}

.container-contact h2 {
    align-self: center;
    width: 10%;
    font-weight: 700;
    border-top: 3px solid #10E7C5;
    margin-bottom: 10px;
}

.container-contact h5 {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1%;
}

@media(max-width: 942px){
    .container-contact {
        transform: translateX(50px);
    }

}

@media(max-width: 840px) {
    .container-contact {
        transform: translateX(0);
        justify-content: start;
    }
}

@media(max-width: 430px) {
    .container-contact {
        margin-top: 50px;
    }
}



@media(max-width: 347px) {
    .container-contact h5 {
        font-size: 15px;
    }
}