#root {
  display: grid;
  grid-template-columns:60px auto;
  width: 100%;
  margin: 0 auto;
  text-align: center; 
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
